$borderColor: rgba(136, 165, 191, 0.75);
$shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
.cart-list {
  display: block;
  flex: 0 0 74%;
  .single-product {
    flex-direction: row;
    flex: 0 0 100%;
    gap: 1%;
    img {
      width: 17%;
      max-height: 150px;
      align-self: center;
    }
    .product-title {
      border-bottom: 1px solid $borderColor;
      line-height: 1.2rem;
    }
    &_number{
      width: 4%;
      text-align: center;
      align-self: center;
    }
    &.in-cart {
      .add-to-cart {
        display: flex;
        width: 2rem;
        height: 2rem;
      }
      .remove-from-cart {
        height: 2rem;
        width: 2rem;
      }
      .product-count {
        font-size: 1.2rem;
        width: 3rem;
        text-align: center;
      }
      .block-add-remove {
        display: flex;
        align-items: center;
        position: absolute;
        right: 1rem;
        bottom: 2rem;
      }
      .product-price {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        font-size: 1.1rem;
      }
    }
  }
  .single-product__info {
    width: 77%;
    margin: 0px;
    position: relative;
    font-size: 0.9rem;
    line-height: 0.9rem;
    .cart-list-description {
      display: block;
    }
    .product-count {
      display: block;
    }
  }
  .button_view {
    display: none;
  }
  &_pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }
  &_title {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
  }
  .button-pagination {
    padding: 5px;
    display: inline;
  }
  .number-page {
    margin: 0.5rem;
  }
  &_input-page {
    border: 1px solid rgba(136, 165, 191, 0.75);
    box-shadow: $shadow;
    width: 2rem;
    padding: 5px;
  }
  &_input-block {
    text-align: right;
    padding: 0 1rem;
    flex-grow: 1;
  }
}
.summary-cart {
  flex: 0 0 24%;
  border: 1px solid $borderColor;
  box-shadow: $shadow;
  align-self: flex-start;
  padding: 10px;
  text-align: center;
  .summary-cart_input {
    border: 1px solid $borderColor;
    box-shadow: $shadow;
    width: 70%;
    padding: 5px;
  }
  .example-promo {
    font-size: 0.9rem;
  }
  p {
    margin: 1rem 0;
    &.summary-cart_title {
      font-size: 1.2rem;
      border-bottom: 1px solid $borderColor;
    }
  }
  .button-promo {
    width: 2rem;
    line-height: 1rem;
  }
  .promo-description {
    font-size: 0.9rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
  .old-price {
    text-decoration: line-through;
  }
  .hidden {
    display: none;
  }
  .promo-suggest {
    span {
      margin-top: 10px;
    }
  }
  .new-price {
    border-bottom: 1px solid $borderColor;
  }
  
}

