.product_list {
  display: block;
}
.cart_list .single_product {
  width: 100%;
}
.cart_list {
  flex: 0 0 75%;
}
.cart_list .single_product {
  flex-direction: row;
}
.single_product__info {
  flex-grow: 1;
  margin: 0px;
}
.cart_list .single_product img {
  max-height: 100%;
  width: 30%;
}
.summary_cart {
  flex: 0 0 25%;
}
